@import "tailwindcss";

.side-link {
    @apply flex items-center mb-[20px] w-fit flex-wrap cursor-pointer justify-center;
}

.sidebar {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.25) transparent;
    
}
.side-link.active img{
    @apply border-b-[3px] border-red-700 pb-[2px] scale-110 transition-all duration-200;
}